### Imports

In [1]:
import sys
from pathlib import Path

# Ajout du chemin racine du projet pour résoudre les problèmes d'import des fichiers py
project_root = Path(r"C:\Users\alexa\Documents\Code\App_prototype\app").resolve()
if project_root not in sys.path:
    sys.path.append(str(project_root))

In [2]:
import pandas as pd
import numpy as np

from user_product_matrix import build_interaction_matrix, get_products_info_df, get_users_info_df, build_reviews_matrix

### Data recuperation

In [3]:
DB_PATH = "../data/data.db"

In [4]:
iteractions_df = build_interaction_matrix(DB_PATH)

print(iteractions_df.shape)
iteractions_df.head()

(8, 28)

product_id,1,2,3,4,5,6,7,8,9,10,...,32,35,37,38,39,42,43,44,47,48
user_id,,,,,,,,,,,,,,,,,,,,,
1,1702.0,246.0,72.0,32.0,19.0,29.0,3.0,6.0,11.0,15.0,...,4.0,9.0,4.0,1.0,4.0,0.0,0.0,3.0,3.0,0.0
3,6.0,6.0,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,9.0,0.0,0.0,21.0
4,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,18.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,9.0,21.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
reviews_df = build_reviews_matrix(DB_PATH)

print(reviews_df.shape)
reviews_df.head()

(6, 7)

product_id   1    2    3    4    5    11   12
user_id
1           4.0  4.0  4.0  4.0  1.0  3.0  4.0
3           4.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
4           5.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
14          4.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
15         -1.0  3.0 -1.0 -1.0 -1.0 -1.0 -1.0

In [6]:
products_df = get_products_info_df(DB_PATH)

print(products_df.shape)
products_df.head()

(41, 118)

,product_id,name,description,provider,tag_allergie,tag_analgésique,tag_anaphylaxie,tag_anthelminthique,tag_anti-inflammatoire,tag_antiagrégant,...,comp_Prednisolone,comp_Prednisone,comp_Propranolol,comp_Salbutamol,comp_Spironolactone,comp_Sulfate de magnésium,comp_Tramadol,comp_Vitamine D,product_n_reviews,product_avg_rating
0,1,Doliprane,Antalgique et antipyrétique à base de paracéta...,Sanofi,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,4.0,4.25
1,2,Dafalgan,Antalgique et antipyrétique similaire à Dolipr...,UPSA,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,2.0,3.50
2,3,Levothyrox,Hormone thyroïdienne de substitution utilisée ...,Merck,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2.0,4.00
3,4,Ventoline,Bronchodilatateur (salbutamol) utilisé en cas ...,GSK,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,1.0,4.00
4,5,Spasfon,Antispasmodique utilisé pour soulager les doul...,B. Bromba,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1.0,1.00

In [7]:
users_df = get_users_info_df(DB_PATH)

print(users_df.shape)
users_df.head()

(11, 6)

,user_id,username,email,user_n_reviews,user_avg_rating,total_depenses
0,1,Alexandre,alexandre@gmail.com,7.0,3.428571,4596.9782
1,2,Bob,bob@gmail.com,0.0,0.000000,0.0000
2,3,John,john@gmail.com,1.0,4.000000,280.8000
3,4,Alex,alex@gmail.com,1.0,5.000000,243.0000
4,14,Jack,jack@gmail.com,1.0,4.000000,91.8000

### Synthetical data generation

Génération de données synthétiques cohérentes pour un moteur de recommandations

In [8]:
# Paramètres
SEED = 42
rng = np.random.default_rng(SEED)

N_USERS = 1000
N_PRODUCTS = 200

PROVIDERS = ['PharmaPlus', 'MediCare', 'BioHealth', 'GeneriCo', 'LabX', 'GreenMeds']
COUNTRIES = ['FR', 'BE', 'CH', 'LU', 'DE', 'ES', 'IT']

# Symptômes / maladies (tags)
TAGS = [
    'douleur', 'fievre', 'rhume', 'allergie', 'toux', 'migraine',
    'reflux', 'nausee', 'insomnie', 'stress', 'diarrhee', 'constipation',
    'acne', 'eczema'
]

# Principes actifs (components)
COMPONENTS = [
    'paracetamol', 'ibuprofene', 'aspirine', 'loratadine', 'dextromethorphane',
    'omeprazole', 'domperidone', 'melatonine', 'loperamide', 'bisacodyl',
    'benzoyl_peroxide', 'hydrocortisone', 'vitamine_c', 'zinc'
]

In [9]:
# Fonctions
def _slug(s: str) -> str:

    return s.lower().replace(' ', '_').replace('-', '_')


def generate_products(n_products: int) -> pd.DataFrame:

    """Crée un catalogue produits avec tags & composants (one-hot), providers et prix."""

    product_ids = np.arange(1, n_products + 1)
    providers = rng.choice(PROVIDERS, size=n_products)

    # Assigner tags et composants
    # - Chaque produit reçoit 1–3 tags et 1–2 composants
    tags_per_product = [rng.choice(TAGS, size=rng.integers(1, 4), replace=False).tolist() for _ in product_ids]
    comps_per_product = [rng.choice(COMPONENTS, size=rng.integers(1, 3), replace=False).tolist() for _ in product_ids]

    # Prix réalistes (ex: 3€ à 30€)
    prices = rng.uniform(3.0, 30.0, size=n_products).round(2)

    df = pd.DataFrame({
        'product_id': product_ids,
        'name': [f"Medi-{comps[0].capitalize()}-{pid}" for pid, comps in zip(product_ids, comps_per_product)],
        'provider': providers,
        'price': prices,                     # utile pour total_spent ; gardé ici pour le calcul
        'tags_list': tags_per_product,       # colonnes intermédiaires (seront explosées)
        'components_list': comps_per_product # colonnes intermédiaires (seront explosées)
    })

    # One-hot tags
    tag_cols = {}
    for tag in TAGS:
        tag_cols[f"tag_{_slug(tag)}"] = df['tags_list'].apply(lambda lst: int(tag in lst))

    # One-hot components
    comp_cols = {}
    for c in COMPONENTS:
        comp_cols[f"comp_{_slug(c)}"] = df['components_list'].apply(lambda lst: int(c in lst))

    df_onehot = pd.concat([df[['product_id', 'name', 'provider', 'price']], pd.DataFrame(tag_cols), pd.DataFrame(comp_cols)], axis=1)

    return df_onehot


def generate_users(n_users: int) -> pd.DataFrame:

    """Crée un panel d'utilisateurs avec username, pays, âge."""

    user_ids = np.arange(1, n_users + 1)
    usernames = [f"user_{uid:04d}" for uid in user_ids]
    countries = rng.choice(COUNTRIES, size=n_users, replace=True)
    # Âges ~ N(40, 12), bornés 18–80
    ages = np.clip(rng.normal(40, 12, size=n_users).round().astype(int), 18, 80)

    return pd.DataFrame({
        'user_id': user_ids,
        'username': usernames,
        'country': countries,
        'age': ages
    })


def generate_interactions(users_df: pd.DataFrame, products_df: pd.DataFrame) -> pd.DataFrame:

    """
    Génère une table user_product_interaction (sparse) :
    - Chaque user interagit avec 15-60 produits.
    - Le score dépend de l'affinité user<->tags du produit et d'un bruit Poisson.
    """

    # Préférences utilisateurs par TAG (2–3 favoris)
    user_tag_prefs = {}
    for uid in users_df['user_id']:
        fav_k = rng.integers(2, 4)
        favs = set(rng.choice(TAGS, size=fav_k, replace=False).tolist())
        user_tag_prefs[uid] = favs

    # Préparation des tags du produit (set par produit pour aller vite)
    tag_cols = [c for c in products_df.columns if c.startswith('tag_')]
    product_tags = {
        pid: {t.replace('tag_', '') for t, v in row.items() if t.startswith('tag_') and v == 1}
        for pid, row in products_df.set_index('product_id')[tag_cols].iterrows()
    }

    rows = []
    for uid in users_df['user_id']:
        # nb de produits vus par cet utilisateur
        k = rng.integers(15, 61)
        chosen_products = rng.choice(products_df['product_id'].values, size=k, replace=False)

        favs = user_tag_prefs[uid]
        for pid in chosen_products:
            overlap = len(favs.intersection(product_tags.get(pid, set())))
            # λ de Poisson influencé par l'overlap
            lam = 1.0 + 2.0 * overlap
            score = int(rng.poisson(lam * 3) + 1)  # éviter zéro
            rows.append((uid, pid, score))

    interactions = pd.DataFrame(rows, columns=['user_id', 'product_id', 'score'])

    return interactions


def generate_reviews_from_interactions(interactions_df: pd.DataFrame,
                                       products_df: pd.DataFrame
                                       ) -> pd.DataFrame:
    
    """
    Crée la table 'reviews' à partir des paires (user, product) présentes en interactions :
    - Probabilité d'avoir une review ↑ avec le score d'interaction et l'affinité (approchée via tags).
    - Note entière 1-5 ; -1 si pas de review.
    """

    # Reconstruire sets de tags par produit
    tag_cols = [c for c in products_df.columns if c.startswith('tag_')]
    product_tags = {
        pid: {t.replace('tag_', '') for t, v in row.items() if t.startswith('tag_') and v == 1}
        for pid, row in products_df.set_index('product_id')[tag_cols].iterrows()
    }

    # Heuristique : on approxime l’affinité par "score élevé => plus de chance de reviewer"
    ratings = []
    for (uid, pid, score) in interactions_df[['user_id', 'product_id', 'score']].itertuples(index=False):
        # Proba d'émettre une review
        p_review = min(0.1 + 0.02 * np.log1p(score), 0.75)  # 10% -> 75% selon score
        has_review = rng.random() < p_review
        if not has_review:
            ratings.append(-1)
            continue

        # Note autour de 3.5, un peu boostée si score élevé
        mu = 3.3 + 0.25 * np.tanh((score - 6) / 6)  # ~3.0 à 4.0
        val = int(np.clip(np.round(rng.normal(mu, 0.9)), 1, 5))
        ratings.append(val)

    reviews = interactions_df[['user_id', 'product_id']].copy()
    reviews['rating'] = ratings

    return reviews


def aggregate_product_info(products_df: pd.DataFrame, reviews_df: pd.DataFrame) -> pd.DataFrame:

    """Ajoute (reviews_count, avg_rating) par produit au DataFrame produits (et retire la colonne 'price' si tu ne la veux pas publiée)."""

    rated = reviews_df[reviews_df['rating'] != -1].copy()
    agg = rated.groupby('product_id')['rating'].agg(reviews_count='count', avg_rating='mean').reset_index()
    df = products_df.merge(agg, on='product_id', how='left')
    df['reviews_count'] = df['reviews_count'].fillna(0).astype(int)
    df['avg_rating'] = df['avg_rating'].fillna(0).round(3)

    # return df.drop(columns=['price'])
    return df


def aggregate_user_info(users_df: pd.DataFrame,
                        reviews_df: pd.DataFrame,
                        products_df: pd.DataFrame,
                        interactions_df: pd.DataFrame
                        ) -> pd.DataFrame:
    
    """
    Calcule pour chaque utilisateur :
    - reviews_count, avg_rating_given à partir des reviews != -1
    - total_spent simulé à partir d'achats ~ Poisson(score & affinité) * prix produit
    """

    # 1) Reviews données par user
    rated = reviews_df[reviews_df['rating'] != -1].copy()
    user_review_stats = rated.groupby('user_id')['rating'].agg(
        reviews_count='count',
        avg_rating_given='mean'
    ).reset_index()
    user_review_stats['avg_rating_given'] = user_review_stats['avg_rating_given'].round(3)

    # 2) Total dépensé simulé
    # Hypothèse : achats ~ Poisson(0.02*score), puis total = sum(qty * price)
    price_map = products_df.set_index('product_id')['price'].to_dict()
    # quantité achetée par ligne d'interaction
    qty = rng.poisson(lam=np.clip(interactions_df['score'].values * 0.02, 0.0, 5.0))
    spent = qty * interactions_df['product_id'].map(price_map).values
    spend_df = interactions_df[['user_id']].copy()
    spend_df['spent'] = spent
    user_spent = spend_df.groupby('user_id')['spent'].sum().reset_index()
    user_spent['spent'] = user_spent['spent'].round(2)

    # 3) Fusion finale
    out = users_df.merge(user_review_stats, on='user_id', how='left').merge(
        user_spent.rename(columns={'spent': 'total_spent'}), on='user_id', how='left'
    )
    out['reviews_count'] = out['reviews_count'].fillna(0).astype(int)
    out['avg_rating_given'] = out['avg_rating_given'].fillna(0).round(3)
    out['total_spent'] = out['total_spent'].fillna(0).round(2)

    return out


def make_user_product_matrix(interactions_df: pd.DataFrame,
                             reviews_df: pd.DataFrame):
    
    """
    Crée deux matrices (DataFrame) :
    - interaction_matrix : valeurs = score d'interaction
    - review_matrix : valeurs = rating (avec -1 -> NaN par défaut)
    """

    # Matrice des interactions
    interaction_matrix = interactions_df.pivot_table(
        index="user_id",
        columns="product_id",
        values="score",
        fill_value=0
    )

    # Matrice des reviews
    review_matrix = reviews_df.pivot_table(
        index="user_id",
        columns="product_id",
        values="rating",
        fill_value=-1
    )

    return interaction_matrix, review_matrix


def generate_all(n_users=N_USERS, n_products=N_PRODUCTS):

    """
    Génère les 4 DataFrames :
    - interactions_df: user_product_interaction
    - reviews_df: reviews (rating -1 si pas de review)
    - product_info_df: product_info (one-hot tags & comps, + reviews_count & avg_rating)
    - user_info_df: user_info (username, country, age, + stats + total_spent)
    """
    
    products_df = generate_products(n_products)
    users_df = generate_users(n_users)
    interactions_df = generate_interactions(users_df, products_df)
    reviews_df = generate_reviews_from_interactions(interactions_df, products_df)
    product_info_df = aggregate_product_info(products_df, reviews_df)
    user_info_df = aggregate_user_info(users_df, reviews_df, products_df, interactions_df)
    interaction_matrix, review_matrix = make_user_product_matrix(interactions_df, reviews_df)

    # Adapter les colonnes finales aux noms « de table »
    interactions_df = interactions_df[['user_id', 'product_id', 'score']].copy()
    reviews_df = reviews_df[['user_id', 'product_id', 'rating']].copy()

    # product_info_df = product_info_df.drop(columns=['price'])
    return interactions_df, reviews_df, product_info_df, user_info_df, interaction_matrix, review_matrix

In [10]:
interactions_df, reviews_df, product_info_df, user_info_df, interaction_matrix, review_matrix = generate_all()

print("user_product_interaction:", interactions_df.shape)
print("user_product_interaction_matrix:", interaction_matrix.shape)
print("reviews:", review_matrix.shape)
print("reviews_matrix:", reviews_df.shape)
print("product_info:", product_info_df.shape)
print("user_info:", user_info_df.shape)

user_product_interaction: (37674, 3)
user_product_interaction_matrix: (1000, 200)
reviews: (1000, 200)
reviews_matrix: (37674, 3)
product_info: (200, 34)
user_info: (1000, 7)

In [11]:
print("\nInteractions (sample):")
interactions_df.head()

Interactions (sample):

   user_id  product_id  score
0        1         134      1
1        1         120      1
2        1         103      2
3        1         112      5
4        1         126      4

In [12]:
print("\nInteractions matrix (sample):")
interaction_matrix.head()

Interactions matrix (sample):

product_id,1,2,3,4,5,6,7,8,9,10,...,191,192,193,194,195,196,197,198,199,200
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
2,6.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,5.0,11.0,...,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0
3,2.0,7.0,5.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,3.0,0.0,0.0,8.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
print("\nReviews (sample):")
reviews_df.head()

Reviews (sample):

   user_id  product_id  rating
0        1         134       4
1        1         120      -1
2        1         103      -1
3        1         112      -1
4        1         126      -1

In [14]:
print("\nReviews matrix (sample):")
review_matrix.head()

Reviews matrix (sample):

product_id,1,2,3,4,5,6,7,8,9,10,...,191,192,193,194,195,196,197,198,199,200
user_id,,,,,,,,,,,,,,,,,,,,,
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [15]:
print("\nProduct Info (colonnes):")
product_info_df.head()

Product Info (colonnes):

,product_id,name,provider,price,tag_douleur,tag_fievre,tag_rhume,tag_allergie,tag_toux,tag_migraine,...,comp_domperidone,comp_melatonine,comp_loperamide,comp_bisacodyl,comp_benzoyl_peroxide,comp_hydrocortisone,comp_vitamine_c,comp_zinc,reviews_count,avg_rating
0,1,Medi-Dextromethorphane-1,PharmaPlus,5.11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29,3.552
1,2,Medi-Melatonine-2,LabX,3.81,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,21,3.143
2,3,Medi-Domperidone-3,GeneriCo,12.35,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,26,3.423
3,4,Medi-Melatonine-4,BioHealth,3.51,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,19,3.105
4,5,Medi-Domperidone-5,BioHealth,7.47,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,23,3.478

In [16]:
print("\nUser Info (sample):")
user_info_df.head()

User Info (sample):

,user_id,username,country,age,reviews_count,avg_rating_given,total_spent
0,1,user_0001,ES,35,3,3.333,0.00
1,2,user_0002,BE,58,8,3.375,191.10
2,3,user_0003,BE,39,10,2.900,155.18
3,4,user_0004,IT,68,3,3.667,58.13
4,5,user_0005,LU,41,1,3.000,22.42

### Recommendation

In [ ]:
import implicit
from scipy.sparse import csr_matrix


def train_als(interaction_matrix, factors=50, iterations=20, regularization=0.1):

    """
    interaction_matrix = pandas DataFrame (users x products)
    """

    # Convertir en sparse matrix
    sparse_matrix = csr_matrix(interaction_matrix.values)

    # Créer modèle ALS
    model = implicit.als.AlternatingLeastSquares(
        factors=factors,
        iterations=iterations,
        regularization=regularization
    )

    # Entraînement
    model.fit(sparse_matrix)

    return model


def recommend_products(model, interaction_matrix, user_id, n=5):

    user_idx = interaction_matrix.index.get_loc(user_id)
    scores, product_ids = model.recommend(user_idx, csr_matrix(interaction_matrix.values), N=n)
    
    return [interaction_matrix.columns[i] for i in product_ids]